body {
  background-color: #f2f2f2;
  color: #333;
  font-family: Arial, sans-serif;
}

header {
  background-color: #ff6600;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center; /* Detta centrerar hela nav-sektionen */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* Gör ul-elementet till en inline-block för bättre kontroll */
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #ff6600;
}

main {
  padding: 20px;
}

p {
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: lightgrey;
  text-align: center;
  padding: 10px;
}

#userInfo {
    color: red;
}
nav a.active {
  color: orange;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
}


label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
