<!DOCTYPE html>
<html>
<head>
  <title>Min Programmeringshemsida</title>
  <link rel="stylesheet" href="static/styles.css"> 
</head>
<body>
  <header>
    <h1>Min Programmeringshemsida</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/" >Hem</a></li>
      <li><a href="/login" >Login</a></li>
      <li><a href="/register" >Register</a></li>
      <li><a href="/challenges" class="active">Challenge</a></li>
    </ul>
    <div id="userInfo">
    {{ if .Authenticated }}
    Inloggad som {{ .Username }} 
    {{ else }}
    Du är inte inloggad
    {{ end }}
    </div>
  </nav>
  <main>
    <h1> Utmaning 1 </h1>
    <h2> Variabler </h2>
            {{ if .Authenticated }}
            Hej {{ .Username }}
            <br>
            I den här uppgiften ska vi fortsätta jobba med siffror, <b>men</b> den här gången ska vi också jämföra siffror. Den här gången ska vi bara summera siffrorna om de är <b>jämna</b>. Detta betyder att vi måste lägga till en <i>if</i> instruktion innan vi lägger ihop siffrorna.<br>
            Det enklaste sättet att kolla om siffror är jämna är att kolla att <i>resten</i> efter en division med 2 är lika med 0. <i>Resten</i> inom programmering har tecknet <b>%</b>, så använd det i eran <i>if</i>-sats.
            <br>
            <br>
            I den här övningen ska vi summera olika tal med varandra och svaret på uppgiften är den summan av alla tal som är <b>jämna</b>.
            <br>
            Exempel:
            <br>
            <br>
            <code>
                11 12 13 14 15
            </code>
            <br>
            I det här exemplet är det bara 12 och 14 som är jämna, alltså: 12 + 14 = 26
            <br> 
            <br>
            <b>Tänk på att ni har andra siffror som ni ska jämföra i den här uppgiften</b>
            Ni kommer få många fler tal som ni ska summera. Talen hittar ni i uppgiften, <b>Lycka till!</b>
            <br>
            <br>
            <a href="/challenge_input?challenge={{ .Challenge }}">Era tal</a>
            <form action="/challenge_check?challenge={{ .Challenge }}" method="POST">
                <label for="answer">Svar:</label>
                <input type="text" id="answer" name="answer" required>
                <br>
                <button type="submit">Färdig</button>
            </form>
            {{ else }}
            Du är inte inloggad 
            {{ end }}
  </main>
  <footer>
    <p>Gjord av Alexander Svensson &bull; <a href="https://github.com/gurkslask">GitHub</a></p>
  </footer>
</body>
</html>
