<!DOCTYPE html>
<html>
<head>
  <title>Min Programmeringshemsida</title>
  <link rel="stylesheet" href="static/styles.css"> 
</head>
<body>
  <header>
    <h1>Min Programmeringshemsida</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/" >Hem</a></li>
      <li><a href="/login" >Login</a></li>
      <li><a href="/register" >Register</a></li>
      <li><a href="/challenges" class="active">Challenge</a></li>
    </ul>
    <div id="userInfo">
    {{ if .Authenticated }}
    Inloggad som {{ .Username }} 
    {{ else }}
    Du är inte inloggad
    {{ end }}
    </div>
  </nav>
  <main>
    <h1> Utmaning 1 </h1>
    <h2> Variabler </h2>
            {{ if .Authenticated }}
            Hej {{ .Username }}
            <br>
            I den här uppgiften ska vi fortsätta jobba med siffror, <b>men</b> den här gången ska vi också jämföra siffror. Den här gången ska vi bara summera siffrorna om de är <b>jämna</b>. Detta betyder att vi måste lägga till en <i>if</i> instruktion innan vi lägger ihop siffrorna.<br>
            Det enklaste sättet att kolla om siffror är jämna är att kolla att <i>resten</i> efter en division med 2 är lika med 0. <i>Resten</i> inom programmering har tecknet <b>%</b>, så använd det i eran <i>if</i>-sats.
            I den här uppgiften ska vi fördjupa era kunskaper kring hur for-loopen fungerar. Ni ska nu jämföra de olika talen med varandra.
            <br>
            Börja med det första talet, detta ska vi nu jämföra med talet innan. Eftersom det inte finns något tal innan så får vi jämföra det med <i>0</i>. Om talet som vi står på nu är större än det som var innan, så ska vi lägga till det till vårt resultat.
            <br>
            <br>
            <br>
            Ta detta exemplet:
            <br>
            <br>
            <code>
                1 20 5 99 99
            </code>
            <br> 
            Nu ska vi gå igenom exemplet steg för steg<br>
            > 1 <br>
            20 <br>
            5 <br>
            99 <br>
            99 <br>
            Vi står nu på 1, detta är första talet och är större än 0. Alltså är resultatet än så länge 1<br><br>
            1 <br>
            > 20 <br>
            5 <br>
            99 <br>
            99 <br>
            Vi står nu på 20, 20 är större än 1. Resultatet är nu 20 + 1 = 21<br><br>
            1 <br>
            20 <br>
            > 5 <br>
            99 <br>
            99 <br>
            Vi står nu på 5, 5 är <b>inte</b> större än 20. Alltså lägger vi inte till 5<br><br>
            1 <br>
            20 <br>
            5 <br>
            > 99 <br>
            99 <br>
            Vi står nu på 99, som är större än 5, vi lägger till 99 -> 21 + 99 = 120<br><br>
            1 <br>
            20 <br>
            5 <br>
            99 <br>
            > 99 <br>
            Vi står nu på 99, som är lika stor som 99, vi lägger till 99 -> 120 + 99 = 279<br><br>
            <br>
            I detta exempel blir resultatet <b>279</b>
            <br> 
            <br>
            <b>Tänk på att ni har andra siffror som ni ska jämföra i den här uppgiften</b>
            Ni kommer få många fler tal som ni ska summera. Talen hittar ni i uppgiften, <b>Lycka till!</b>
            <br>
            <br>
            <a href="/challenge_input?challenge={{ .Challenge }}">Era tal</a>
            <form action="/challenge_check?challenge={{ .Challenge }}" method="POST">
                <label for="answer">Svar:</label>
                <input type="text" id="answer" name="answer" required>
                <br>
                <button type="submit">Färdig</button>
            </form>
            {{ else }}
            Du är inte inloggad 
            {{ end }}
  </main>
  <footer>
    <p>Gjord av Alexander Svensson &bull; <a href="https://github.com/gurkslask">GitHub</a></p>
  </footer>
</body>
</html>
